.navbar-inverse .navbar-toggle,
{
		border-color:#26cfee;
}

.navbar-inverse .navbar-toggle:hover,
.header .arrow i:hover,
.faq-question .panel-group .panel-heading i,
.footer .sec .btn:hover,
#scroll-top,
 nav.navbar.change-fixed-nav li a:hover,
 nav.navbar.change-fixed-nav .active a,
nav.navbar.change-fixed-nav .active a:hover,
nav.navbar.change-fixed-nav .active a:focus
{
	background:#26cfee;
}

.navbar .navbar-header span,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus,
.header .carousel-inner .carousel-caption h2,
.welcome span,
.features h1 span,
.services h2 span,
.skills span,
.skills .skill-info span,
.our-team span,
.statistics h1 span,
.statistics .stats:hover i,
.testimonials h1 span,
.testimonials .carousel-inner .item span,
.contact-us .fields i,
.contact-us .fields i,
.faq-question .panel-group .panel-heading i:hover,
.faq h2 span,
.faq-question .ques h2,
.footer ul li.f i,
.footer .sec:hover h3 i,
.footer .fir:hover h3 i,
.footer .three:hover h3 i,
.footer .copy-right span,
#scroll-top:hover
{
	color:#26cfee;
}
.our-team .image img:hover
{
		box-shadow: -2px -2px 3px #26cfee,
					2px 2px 3px #26cfee;
}
nav.navbar.change-fixed-nav
{
    -webkit-box-shadow: 4px 10px 20px -6px  rgba(38,207,238,0.75);
  -moz-box-shadow: 4px 10px 20px -6px  rgba(38,207,238,0.75);
  box-shadow: 4px 10px 20px -6px  rgba(38,207,238,0.75);;
}
.subscribe input[type="text"]:focus,
.contact-us input[type="text"]:focus,
.contact-us textarea:focus
{
		box-shadow: 1px 1px 1px #26cfee inset,
	   				1px 1px 1px #26cfee;
}


.testimonials .carousel-indicators li.active,
.faq-question .panel-group .panel-heading i
{border:3px solid #26cfee;}

.contact-us .fields button,
.footer .sec .btn
{background:#26cfee; border-color:#26cfee;} 

.skills .btn,
.subscribe .btn
{
	background:#26cfee; 
	border-color: #26cfee;
}
.skills .btn:hover,
.subscribe .btn:hover,
.contact-us .fields button:hover
{
	background: #10afcc;
	border-color:#10afcc;
}